<launch>
    <node name="GUI" pkg="trainer" type="main.py" output="screen" respawn="true" />
    <node name="Trainer" pkg="trainer" type="train.py" output="screen" respawn="true" />
    <node name="To_bytes" pkg="trainer" type="to_bytes" output="screen" respawn="true" />
</launch>

<!-- import roslaunch

package = 'rqt_gui'
executable = 'rqt_gui'
node = roslaunch.core.Node(package, executable)

launch = roslaunch.scriptapi.ROSLaunch()
launch.start()

process = launch.launch(node)
print process.is_alive()
process.stop() -->